@model LezzetAtolyesi.Models.Menuler

@{
    ViewData["Title"] = "MenuGetir";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}


<h4>Menü Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="MenuGuncelle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="MenuId" />
            <div class="form-group">
                <label asp-for="Baslik" class="control-label">Başlık</label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Url" class="control-label">Url</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            *@
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Url" class="control-label">Url</label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <select class="form-control" multiple="multiple" asp-items="ViewBag.sayfalar" id="ddlSayfalar"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Sira" class="control-label">Sıra</label>
                <input asp-for="Sira" class="form-control" />
                <span asp-validation-for="Sira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UstId" class="control-label">Üst Menü</label>
                <select asp-for="UstId" class="form-control" asp-items="ViewBag.ustmenuler"></select>
                <span asp-validation-for="UstId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktif" class="control-label">Aktif</label>
                <select asp-for="Aktif" class="form-control">
                    <option value="True">
                        Evet
                    </option>
                    <option value="False">
                        Hayır
                    </option>
                </select>
                <span asp-validation-for="Aktif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menuler">Geri</a>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#ddlSayfalar").change(function () {
            var id = $(this).children("option:selected").val();
            $("#Url").val("/Home/Index/" + id);
        });
    });
</script>
 